.lessons {
  padding:25px;

  .listItem{
    margin-top:15px;
    display: inline-block;
    padding: 0;
    cursor: pointer;

    &:hover{
      color:#014c8c;
    }

    .avatar{
      width: 100%;
      height: 300px;
      background-size: cover;
      background-position: 50% 50%;
      margin-top:24px;
      margin-bottom: 50px;

      .title{
        position:absolute;
        margin-top:-24px;
        width:100%;
        background: #ffffff;
        display: block;
      }

      .shortText{
        position: absolute;
        bottom:-35px;
        background: #ffffff;
        display: block;
        width:100%;
      }
    }
  }

  .buttonCol {
    width: 25%;
    :global(.btn) {
      margin: 0 5px;
    }
  }
}
