.lessons {
  .listItem {
    .avatarContainer {
      float: left;
      margin: 0 30px 10px 0;

      .avatar {
        width: 220px;
        height: 220px;
        background-size: cover;
        background-position: 50% 50%;
        margin: 15px;

        .title {
          width: 100%;
        }

        .text {
          width: 100%;
        }
      }
    }
  }

  .buttonCol {
    width: 25%;
    :global(.btn) {
      margin: 0 5px;
    }
  }
}
