.app {
  .headNav {
    li {
      display: inline-block;
      list-style: none;
      margin-left: 25px;

      a {
        text-decoration: none;
      }

      a:hover {
        border-color: #014c8c;
      }
    }
  }
}

.appContent {
  margin: 50px 0; // for fixed navbar
}
